{% block body %}

    <h1>Categories list</h1>

    <div class="btn-group btn-group-justified">
        <a class="btn btn-primary" href="{{ path('homepage') }}">All</a>
        {% for category in categories %}
            <a class="btn btn-primary" href="{{ path('category_show', { 'id': category.id }) }}">{{ category.name }}</a></li>
        {% endfor %}

    </div>
{% endblock %}
