{% block body %}
    <table class="table">
        sdfsdfsdfsdf
        {#<thead>#}
        {#<tr>#}
            {#<th>Title</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for offer in offers %}#}
            {#<tr>#}
                {#<td><a href="">{{ offer.title }}</a></td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    </table>
{% endblock %}