{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offer creation</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" value="Create"/>
    {{ form_end(form) }}
    <a href="{{ path('app_useroffer_showbyuser') }}" class="btn btn-primary">Back to profile</a>
{% endblock %}
