{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">Go to main page</a>
    </div>
</form>
