<h3>You get a new comment to your offer!</h3>

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('offer_show', ) }}">...</a>.
Thanks!
